.nav-icon{
    width: 30px;
}
.navbar{
    position: relative;
}
.nav-item{
    position: relative;
}
.nav-bar a{
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}